.header-section::before {
    content: "";
    clear: both;
    display: table;
  }
  
.header-section {
    border-top: 0.1rem solid #f1f1f1;
    background-color: #f9f9f9;
    padding: 3.5rem 0;
}

.header-container {
    max-width: 98rem;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-progress {
    font-size: 0.9rem;
    color: #7c7c7c;  
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 40%;
}

.numbers-small {
    word-spacing: 1.16rem;
    padding-right: 0.5rem;
}

.header-small {
    text-align: left;
    font-size: 0.9rem;
}

.header-name {
    font-size: 4.8rem;
    color: #ff801a;
    margin-bottom: 0;
}

.header-food {
    color: #7c7c7c;  
    width: 35%;
}

.header-food p:first-child {
    margin: 0;
}

.header-food-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

img {
    margin-right: 1rem;
}

img:last-child {
    margin-right: 0;
}

.header-week {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button.ui.button.week-btn {
    width: 2.5rem;
    height: 4.5rem;
    margin: 0 4.5rem;
}

.chevron-btn-lt {
    position: relative;
    left: -0.5rem;
}

.chevron-btn-rt {
    position: relative;
    left: -1.5rem;
}

@media only screen and (max-width: 61.2em) {
    .header-container {
        display: block;
        margin: auto;
        align-items: center;
    }

    .header-progress {
        font-size: 0.9rem;
        color: #7c7c7c;  
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
    }

    .header-name {
        font-size: 3rem;
    }

    .header-food {
        color: #7c7c7c;  
        width: 100%;
        margin-top: 2rem;
    }
    
    .header-food p:first-child {
        text-align: center;
    }

    .header-food-img {
        display: inline-block;
    }

    .chevron-btn-lt {
        position: relative;
        left: -0.3rem;
    }
    
    .chevron-btn-rt {
        position: relative;
        left: -0.8rem;
    }
    }